
.container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    background-image: url("https://cdn.wallpapersafari.com/83/72/vi9s3k.gif");
    box-sizing: border-box;
    padding: 20px;
}
body{
    background-color: rgb(47, 43, 92);
    font-family: sans-serif;
}
.pizza-wrapper {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.pizza-wrapper .pizza-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color:purple;
    text-transform: uppercase;
}
.pizza-name {
    padding: 5px;
}
.pizza-image > img {
    max-height: 100px;
    width: auto;
    object-fit: contain;
}
.pizza-description {
    height: 30%;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}
.pizza-price {
    padding: 20px;
    font-weight: bold;
}
.navbar {
    z-index: 500;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;    
    background-color: black;
    display: block;
}
.nav-logo > img {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 20px;
}
.nav-logo > h3 {
    width: 200px;
    height: 80px;
    line-height: 80px;
    color: white;
    float: left;
    vertical-align: middle;
    margin: 0 auto;
    margin-left: 90px;
}
.pizza-wrapper {
    color:black;
}
.nav-link {
    float: right;
    width: 100px;
    color: white;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
}
.nav-link:hover {
    background-color: rgb(34, 34, 34);
}
.active {
    background-color:purple;
}
.details-wrapper {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.details-wrapper .details-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color:purple;
    text-transform: uppercase;
}
.details-name {
    padding: 20px;
}
.details-name > u {
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid lightgray;
}
.details-image > img {
    max-height: 200px;
    width: auto;
    object-fit: contain;
}
.details-description {
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
}
.details-price {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(37, 37, 37);    
}
.pageTitle {
    color: white;
    text-align: center;
}
.about-wrapper {
    color: white;
}